* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #f1a3c9, #7e042b);
}

.container {
  width: 41em;
  height: 41em;
  background-color: #f5f5f5;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
}

.container h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5em; /* Adjusted font size */
  color: #6b0324;
  text-align: center;
  padding: 1em 0 1em 0;
}

.base,
#scratch {
  height: 400px;
  width: 400px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  cursor: grabbing;
  border-radius: 0.3em;
}

.base {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1.2em 2.5em rgba(96, 2, 24, 0.15);
}

.base h3 {
  font-weight: 600;
  font-size: 1.5em; /* Adjusted font size */
  color: #7e042b;
}

.base p {
  margin: 1.5em 1 1.5em 1; 
  font-weight: 400;
  font-size: .8em; /* Adjusted font size */
  color: #7e042b;
}

.base h4 {
  font-weight: 400;
  font-size: 1em; /* Adjusted font size */
  font-weight: bold;
  color: #f1a3c9;
}

.base h6 {
  font-weight: 400;
  font-size: 1em; /* Adjusted font size */
  font-weight: bold;
  color: #7e042b;
}

#scratch {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.music-player {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 31em;
  padding: 40px;
  box-sizing: border-box;
}

audio {
  width: 100%;
  display: block;
  margin: auto;
}

audio::-webkit-media-controls-panel {
  background-color: rgba(237, 145, 174, 0.7); /* Transparent pink color for media controls */
  color: #ffffff;
}

audio::-webkit-media-controls-play-button {
  color: #ffffff;
}

audio::-webkit-media-controls-volume-slider {
  background-color: #ffffff;
}

audio::-webkit-media-controls-mute-button {
  color: #ffffff;
}
